<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
  </div>

  <div class="item-detail" padding>
    <h2>{{item.name}}</h2>
    <p>{{item.about}}</p>

    <ion-card>
          <ion-card-header *ngIf="item.id == 'abg'">
            ค่าปกติของ Aterial Blood Gas
          </ion-card-header>



    </ion-card>

    <ion-card *ngIf="item.id == 'abg'">

        <img src="assets/img/MetabolicAcidosis.jpg"/>

        <ion-card-content>
          <ion-card-title>
              Metabolic  Acidosis
          </ion-card-title>

        </ion-card-content >

        <ion-item>
          <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
          PaCO<font size="1">2</font>
          <ion-badge item-end><img  src="assets/img/speakers/abs/btn-b.png"/></ion-badge>
        </ion-item>

        <ion-item>
            <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
            HCO<font size="1">3</font>
            <ion-badge item-end><img  src="assets/img/speakers/abs/top.png"/></ion-badge>
          </ion-item>

    </ion-card>

    <ion-card *ngIf="item.id == 'abg'">

        <img src="assets/img/MetabolicAlkalosis.jpg"/>

        <ion-card-content>
          <ion-card-title>
              Metabolic  Alkalosis
          </ion-card-title>

        </ion-card-content >

        <ion-item>
          <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
          PaCO<font size="1">2</font>
          <ion-badge item-end><img  src="assets/img/speakers/abs/top-b.png"/></ion-badge>
        </ion-item>

        <ion-item>
            <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
            HCO<font size="1">3</font>
            <ion-badge item-end><img  src="assets/img/speakers/abs/top.png"/></ion-badge>
        </ion-item>

    </ion-card>

    <ion-card *ngIf="item.id == 'abg'">

        <img src="assets/img/RespiratoryAcidosis.jpg"/>

        <ion-card-content>
          <ion-card-title>
              Respiratory Acidosis
          </ion-card-title>

        </ion-card-content >

        <ion-item>
          <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
          PaCO<font size="1">2</font>
          <ion-badge item-end><img  src="assets/img/speakers/abs/top.png"/></ion-badge>
        </ion-item>

        <ion-item>
            <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
            HCO<font size="1">3</font>
            <ion-badge item-end><img  src="assets/img/speakers/abs/top-b.png"/></ion-badge>
        </ion-item>

    </ion-card>

    <ion-card *ngIf="item.id == 'abg'">

        <img src="assets/img/RespiratoryAlkalosis.jpg"/>

        <ion-card-content>
          <ion-card-title>
              Respiratory Acidosis
          </ion-card-title>

        </ion-card-content >

        <ion-item>
          <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
          PaCO<font size="1">2</font>
          <ion-badge item-end><img  src="assets/img/speakers/abs/btn.png"/></ion-badge>
        </ion-item>

        <ion-item>
            <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
            HCO<font size="1">3</font>
            <ion-badge item-end><img  src="assets/img/speakers/abs/btn-b.png"/></ion-badge>
        </ion-item>

    </ion-card>

    <ion-card *ngIf="item.id == 'abg'">
        <ion-card-header>
            Note.
        </ion-card-header>
        <ion-card-content>
            ให้ดู ค่า pH ว่า กรด หรือ  ด่าง  แล้วมาดูว่ามาจากอะไร [ acido /  alkalo ]
            HCO3 คือ metabolic  PCO2 คือ respiratory
        </ion-card-content>
      </ion-card>





  </div>




</ion-content>
